@import "tailwindcss";

@theme {
    --font-sans: 'Inter', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
}

body {
    font-family: var(--font-sans);
    @apply bg-slate-950 text-slate-200;
}